{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'ApplicationSonataPageBundle::base_func_layout_tne.html.twig' %}

{% block page_stylesheets %}
    {{ parent() }}

<link rel="stylesheet" href="{{ asset('bundles/tneoperator/angular/app/css/app.css') }}" type="text/css" media="all" />

<link rel="stylesheet" href="{{ asset('bundles/tneoperator/css/font-awesome.min.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/tneoperator/css/theme-rutherglen.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/tneoperator/css/select2.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/tneoperator/angular/app/css/daterangepicker.css') }}" type="text/css" media="all" />

    <link id="MonoTypeFontApiFontTracker" type="text/css" rel="stylesheet" href="http://fast.fonts.com/t/1.css?apiType=js&amp;projectid=1a5d5164-616e-4355-a99a-4cbe2bd50933">

{% endblock %}

{% block page_javascripts %}
    {{ parent() }}
    {{ vichgeo_include_js() }}
        <script src="{{ asset('bundles/tneoperator/angular/app/lib/angular/angular.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/tneoperator/angular/app/lib/angular/angular-resource.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/tneoperator/angular/app/js/daterangepicker.js') }}"></script>
        <script src="{{ asset('bundles/tneoperator/angular/app/js/moment.min.js') }}"></script>
        <script src="{{ asset('bundles/tneoperator/angular/app/js/moment-range.js') }}"></script>
        <script src="{{ asset('bundles/tneoperator/angular/app/js/map.js') }}"></script>
        <script src="{{ asset('bundles/tneoperator/angular/app/js/search.js') }}"></script>
        <script src="{{ asset('bundles/tneoperator/js/select2.js') }}"></script>
{% endblock %}    
    
{% block content %}

<div>
{% render url('tne_operators_header') %}
{#{% include 'TNEOperatorBundle:Default:header.html.twig' %}#}

        
        <div class="cart-page-heading-main">
        
        <div class="cart-page-inner-heading">
            <!--<div id="search-tag" class="pull-left visible-desktop">Checkout <span>Your details</span></div>-->
            <div style="float:left"><h1>Checkout <span class="small-desc">Your Cart</span></h1></div>
           
            
            <div class="page-of">1<span class="total-page-of">/5</span></div>
            
                 
        <div class="clear"></div>
        </div>
        <div class="clear"></div>
        </div>
    <div id="main" class="container">
        
        <div class="hidden-phone">
           
        </div>
        <div class="" >
            <div id="main-pane" class="span9" >
                <div class="checkout-panel clearfix">

                <div class="checkout-header">
                    <h1 class="pull-left"><i class="icon icon-bolt"></i> instant confirm &nbsp; <span class="inner hidden-tablet ng-binding">{{ rooms| length }}</span></h1>
                     
                    <a href="#" class="collapse-btn pull-right" data-toggle="collapse"><img src="{{ asset('bundles/tneoperator/img/transparent-btn.png') }}" alt=""></a>
                    
                    <a href="#" class="info-icon-collapse pull-right" style="margin-right:10px; margin-top:10px;"><img src="{{ asset('bundles/tneoperator/img/transparent-btn.png') }}" alt="" width="23" height="23"></a>
                    <div class="clear"></div>
                </div>

                <div class="checkout-status">
                    
                    <div class="close-btn"><a href="#"><img src="{{ asset('bundles/tneoperator/img/close-icon.png') }}" alt=""></a></div>
                    <h3>The following operators have live booking enabled</h3>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                </div>
                {% for room in rooms %}
                <div class="cart-rooms row">
                    <div class="span7">
                        <div class="inner-padding">
                        <h2>{{ room.name }}</h2>
                            {{ room.accommodation.name }}<br/>
                            ({{ room.accommodation.destination }})
                        <ul>
                            <li><div class="checkin-indiv">CHECK-IN</div> <a  href="{{ path('tne_operator_details',{ 'id': room.accommodation.id }) }}#{{ room.id }}"> {{ cart_data[room.id].start_date }} <i class="icon-large icon-pencil"></i> </a> </li>
                            <li><div class="checkin-indiv">CHECK-OUT</div> <a  href="{{ path('tne_operator_details',{ 'id': room.accommodation.id }) }}#{{ room.id }}"> {{ cart_data[room.id].end_date }} <i class="icon-large icon-pencil"></i> </a> </li>

                            {#<li>room type <span>spa</span></li>#}
                        </ul>
                            </div>
                    </div>
                    <div class="span2 cart-thumb">
                        
                        <div class="rate">${{ cart_data[room.id].rate * cart_data[room.id].days }}</div>
                        <div class="delete-link">
                            <a href="{{ path('booking_remove_from_cart',{ 'id': room.id }) }}"><img src="{{ asset('bundles/tneoperator/img/delete-bin.jpg') }}"></a>
                        </div>
                        {% if( room.file is not null ) %}
                            <img src="/uploads/rooms/{{ room.file }}" alt="">
                        {% else %}
                            <img src="{{ asset('bundles/tneoperator/img/noimg.jpg') }}" alt="">
                        {% endif %}
                    </div>
                </div>
               {% endfor %}
                <div class="total-charge clearfix"><h2 class="pull-left">total to be charged</h2> <span class="pull-right">${{ total_rate }}</span></div>
            </div>
            <div class="checkout-panel clearfix">
                <div class="checkout-header">
                    <h1 class="pull-left"><i class="icon icon-time"></i> instant confirm &nbsp; <span class="inner hidden-tablet ng-binding">5</span></h1>
                    <a href="#" class="expand-btn pull-right" ><img src="{{ asset('bundles/tneoperator/img/transparent-btn.png') }}" alt=""></a>
                    <a href="#" class="info-icon-expand pull-right" style="margin-right:10px; margin-top:10px;"><img src="{{ asset('bundles/tneoperator/img/transparent-btn.png') }}" alt="" width="23" height="23"></a>
                    
                    <div class="clear"></div>
                </div>
            </div>
            <div class="checkout-panel clearfix">
                <div class="checkout-header">
                    <h1 class="pull-left"><i class="icon icon-share"></i> instant confirm &nbsp; <span class="inner hidden-tablet ng-binding">4</span></h1>
                    <a href="#" class="expand-btn pull-right"><img src="{{ asset('bundles/tneoperator/img/transparent-btn.png') }}" alt=""></a>
                    
                    <a href="#" class="info-icon-expand pull-right" style="margin-right:10px; margin-top:10px;"><img src="{{ asset('bundles/tneoperator/img/transparent-btn.png') }}" alt="" width="23" height="23"></a>
                    <div class="clear"></div>
                </div>
            </div>
           <div class="proceed-payment-main"><div class="proceed-payment-btn"> <a href="{{ path('booking_new') }}">Proceed to Details Page</a></div></div>
            </div>
                
                <div class="span2 right-proceed-btn-main"><div class="right-proceed-payment-btn"> <a href="/app_dev.php/booking/new">Proceed to Details Page</a></div></div>


        </div>



    </div>

{% include 'TNEOperatorBundle:Default:footer.html.twig' %}

    <div id="design"></div>
</div>
        
<script>
    $(document).ready(function(){

        // Footer map
        var footerMapOptions = {
            zoom: 12,
            center: new google.maps.LatLng(-36.86424, 147.282715),
            disableDefaultUI: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var footerMap = new google.maps.Map(document.getElementById("footerMap"), footerMapOptions);
        var footerMarker = new google.maps.Marker({
            position: new google.maps.LatLng(-36.86424, 147.282715),
            map: footerMap,
            icon: '/bundles/tneoperator/img/map/marker_blue.png'
        });

        // Init the filters
        $("#filterTags").select2({ containerCssClass : "search-filter" });

        // Init header filters
        $('#filterAccomm').select2({});
        $('#filterOccupants').select2({});

        //angular.bootstrap(document, ['SearchApp']);
    });
</script>
            
{% endblock %}
