<h1>Customer</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Company</th>
            <td>{{ entity.company }}</td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td>{{ entity.firstname }}</td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td>{{ entity.lastname }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{ entity.phone }}</td>
        </tr>
        <tr>
            <th>Mobile</th>
            <td>{{ entity.mobile }}</td>
        </tr>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('booking') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('booking_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('booking_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
