{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends sonata_block.templates.block_base %}

{% block block %}
<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="row-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{{ page.site.url }}">
                    <strong>{{ page.site.name }}</strong>
                </a>
                <ul class="nav" id="root_menu">
                    {% if settings.content.items is defined %}
                        {% for i, menuitem in settings.content.items %}
                                            
                                            <li class="dropdown-submenu dropdown" id="{{menuitem.idAttr}}">
                                                {% set currentPage = page(menuitem.pageId) %}
                                                <a class="dropdown-toggle {{ menuitem.classAttr }}" data-toggle="dropdown" href="{{ path(page(menuitem.pageId)) }}">{{ menuitem.name }}</a>
                                                {% if menuitem.items is defined %}
                                                <ul class="dropdown-menu" id="submenu-{{menuitem.idAttr}}">
                                                {% for j, submenu in menuitem.items %}
                                                    <li id="{{submenu.idAttr}}"><a class="{{ submenu.classAttr }}" href="{{ path(page(submenu.pageId)) }}">{{ submenu.name }}</a></li>
                                                {% endfor %}
                                                </ul>
                                                {% endif%}
                                          
                                            </li>
                        {% endfor %}
                    {% endif %}
                            </ul>
{% if app.security.token and app.security.isGranted('ROLE_SONATA_ADMIN') %}                          
                            <a href="#addMenu" data-toggle="modal"><i class="icon-plus"></i></a>
                            <div id="addMenu" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3 id="myModalLabel">Add Menu Item</h3>
                                </div>
                                <div class="modal-body">
                                    <p><input id="nav-item-name" class="input-medium" type="text" placeholder="Name"><br/>
                                            <input id="nav-item-link" type="hidden" value="">
                                            <input id="nav-item-page-id" type="hidden" value="">
                                            <input id="nav-item-link-display" class="input-medium typeahead" type="text" placeholder="Link"><br/>
                                            <select id="nav-item-parent" class="input-medium">
                                                <option value="">Select Parent</option>
                                                {% if settings.content.items is defined %}
                                                    {% for i, menuitem in settings.content.items %}
                                                        <option value="{{ menuitem.idAttr }}">{{ menuitem.name }}</option>
                                                        {% if menuitem.items is defined %}
                                                            {% for j, submenu in menuitem.items %}
                                                                <option value="{{submenu.idAttr}}">--{{ submenu.name }}</option>
                                                            {% endfor %}
                                                        {% endif%}
                                                    {% endfor %}
                                                {% endif%}
                                            </select>
                                            <br/>
                                            <input id="nav-item-class" class="input-medium" type="text" placeholder="Item Class"  data-provide="typeahead" ><br/></p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                    <button class="btn btn-primary" onclick="addNavItem()" >Add</button>
                                </div>
                            </div>
{% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
{% if app.security.token and app.security.isGranted('ROLE_SONATA_ADMIN') %}
<script type="text/javascript">
var page_id = '{{page.id}}';
var block_id = '{{block.id}}';
$('.typeahead').typeahead({
                source: function(query, process) {
                    return $.ajax({
                        url: '/app_dev.php/typeahead/'+page_id+'/'+query,
                        type: 'get',

                        dataType: 'json',
                        success: function(json) {
                            console.log(json.urls);
                            links = json.urls;
                            pages = json.pages;
                            return typeof json.options == 'undefined' ? false : process(json.options);
                        }
                    });
                },
                
                updater: function(item) {
                    $('#nav-item-link').val(links[item]);
                    $('#nav-item-page-id').val(pages[item]);
                    return item
                }
});

var menu = {{ settings.content.items|json_encode()|raw }};
var menu_count = {{ settings.content.items|length }};
function addNavItem(){

        if($('#nav-item-parent').val() == '') {
            var item = {
                name:$('#nav-item-name').val(), 
                //some time this breaks for slice.call . please check when it appears
                link: $('#nav-item-link').val(), 
                route: $('#nav-item-link-display').val(),
                parent: $('#nav-item-parent').val(), 
                classAttr: $('#nav-item-class').val(),
                idAttr: 'menu-item-'+menu_count,
                pageId: $('#nav-item-page-id').val()
            };
            menu.push(item);
            saveMenu(menu, item);
            menu_count++;
        }
        else {
            
            $.each(menu, function(i, object) { 
                if(object.idAttr == $('#nav-item-parent').val()) {
                    var submenu_count = (object.items != undefined) ? object.items.length:0;
                    var item = {
                        name:$('#nav-item-name').val(), 
                        link: $('#nav-item-link').val(), 
                        route: $('#nav-item-link-display').val(),
                        parent: $('#nav-item-parent').val(), 
                        classAttr: $('#nav-item-class').val(),
                        idAttr: object.idAttr+'-'+submenu_count,
                        pageId: $('#nav-item-page-id').val()
                    };
                    object['items'] = [item];
                    saveMenu(menu, item);
                }
                 
                 
            });
            
            
            
                 
        }
}


function saveMenu(menu, item)
{
    $.ajax({
                        url: '/app_dev.php/add_menu',
                        type: 'POST',
                        data: { 'block_id': block_id,
                            'content': menu
                        },
                        success: function(response) {
                            reloadMenu(item);
                            $('#addMenu').modal('hide');
                        }
                    });
}

function reloadMenu(item) 
{
    
    if(item.parent == '') 
    {
        var menuItem = '<li class="dropdown-submenu dropdown" id="'+item.idAttr+'"><a class="dropdown-toggle '+item.classAttr+'" data-toggle="dropdown" href="'+item.link+'">'+item.name+'</a></li>';
        $('#root_menu').append(menuItem);
    }
    else
    {
        var menuItem = '<li id="'+item.idAttr+'"><a class="'+item.classAttr+'" href="'+item.link+'">'+item.name+'</a></li>';
        if(!$('#'+item.parent+' ul').length) 
        {
            $('#'+item.parent).append('<ul class="dropdown-menu" id="submenu-"'+item.parent+'>'+menuItem+'</ul>');
        }
        else {
            $('#submenu-'+item.parent).append(menuItem);
        }
        
    }
}
</script>
{% endif %}
{% endblock %}
