{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'ApplicationSonataPageBundle::rutherglen_base_layout.html.twig' %}

{% block page_stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationsonatapage/theme/rutherglen/css/operator/general.css') }}" type="text/css" media="all"  />
<!--<link rel="stylesheet" href="{#{ asset('bundles/sonatamedia/nivo-gallery/nivo-gallery.css') }#}" type="text/css" media="all" /> -->

{% endblock %}

{% block bodyMain %} <body class="general">   {%  endblock %}
{% block page_container %}
        

{% include 'ApplicationSonataPageBundle::rutherglen_header.html.twig' %}
   <!-- START GENERAL CONTENT -->

    <div class="whiteBg general">
        <img src="{{ asset('bundles/applicationsonatapage/theme/rutherglen/img/uploaded/generalHeader.jpg') }}" alt="" />
        <div id="panelGeneral1" class="container"><!-- first panel -->
            <div class="row">
                <div class="span12 clearfix">
                    <div class="padder">
                        {{ sonata_page_render_container('page-header', page) | sonata_page_render_custome_block([{'service':'sonata.block.service.text'}]) }}
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </div>

    <div id="panelGeneral2" class="container solidBackground"><!-- first panel -->
        <div class="row">
            <div class="span10 clearfix">
                <ul id="breadcrumb" class="breadcrumb">
                    <li><a href="#">Home</a> <span class="divider">/</span></li>
                    <li><a href="#">Section</a> <span class="divider">/</span></li>
                    <li class="active">Page title</li>
                </ul>
            </div>
            <div class="span2">
                <ul class="inline">
                    <li>
                        <a href="#"><span class="entypo share"></span></a>
                    </li>
                    <li>
                        <a href="#"><span class="entypo print"></span></a>
                    </li>
                </ul>
            </div>
            <div class="span12">
                {{ sonata_page_render_container('page-header2', page) | sonata_page_render_custome_block([{'service':'sonata.block.service.text'}]) }}
            </div>
        </div>
    </div> <!-- /container -->

    {{ sonata_page_render_container('bannerGallery', page) | sonata_page_render_custome_block([{'service':'sonata.media.block.gallery'}]) }}

    <div id="panelGeneral3" class="container solidBackground"><!-- first panel -->
        <div class="row">
            <div class="span7 offset1">
                <div class="padder">
                    {{ sonata_page_render_container('content-top-text', page) | sonata_page_render_custome_block([{'service':'sonata.block.service.text'}]) }}
                </div>
                <div id="gMapWrapper">
                    <div id="gMap"></div>
                    <div id="gMapOver" class="opaque9">Hiking trails in Rutherglen</div>
                </div>
                <div class="padder">
                        {{ sonata_page_render_container('content-bottom-text', page) | sonata_page_render_custome_block([{'service':'sonata.block.service.text'}]) }}
                </div>
                    
                <form id="tabletSubscribe">
                    <div>Subscribe</div>
                    <input id="tabletSubscribeEmail" placeholder="Enter email address.." />
                    <input type="submit" />
                </form>

            </div>
            <div class="span4">
                <div class="padder">

                    <div id="featuredAccom">
                        <h4>Featured Accommodation</h4>
                        <div class="imgWrap">
                            {{ sonata_page_render_container('featuredAccom', page) | sonata_page_render_custome_block([{'service':'sonata.media.block.feature_media'}]) }}
                            <div>
                                <small>FROM</small>
                                &#36;124
                            </div>
                        </div>
                        <div class="featuredWrap">
                            <h5>Rutherglen</h5>
                            <ul class="inline">
                                <li><span class="entypo star on"></span></li>
                                <li><span class="entypo star on"></span></li>
                                <li><span class="entypo star on"></span></li>
                                <li><span class="entypo star on"></span></li>
                                <li><span class="entypo star"></span></li>
                            </ul>
                            <h6>Rutherglen Wine BnB</h6>
                            <button id="featuredAdd" name="featuredAdd">ADD TO PLANNER</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div> <!-- /container -->

    <!-- END GENERAL CONTENT -->

{% include 'ApplicationSonataPageBundle::rutherglen_footer.html.twig' %}

    <div id="design"></div>

        
  
{% endblock %}
