{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'ApplicationSonataPageBundle::base_func_layout.html.twig' %}

{% block page_stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/tneoperator/angular/app/css/app.css') }}" type="text/css" media="all" />
{% endblock %}

{% block page_javascripts %}
    {{ parent() }}
    {{ vichgeo_include_js() }}   
        <script src="{{ asset('bundles/tneoperator/angular/app/lib/angular/angular.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/tneoperator/angular/app/lib/angular/angular-resource.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/tneoperator/angular/app/js/app.js') }}"></script>
{% endblock %}    
    
{% block content %}

<div class="container" ng-app="OperatorListApp" id="maincontroller" ng-controller="AppController">
    <div class="row12">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">

              <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>

              <!-- Be sure to leave the brand out there if you want it shown -->
              <a class="brand" href="#">Operators </a>


              <!-- Everything you want hidden at 940px or less, place within here -->
              <div class="nav-collapse collapse">
                <!-- .nav, .navbar-search, .navbar-form, etc -->
              </div>

            </div>
          </div>
        </div>        
    </div>
        <div class="row">
            
            <div class="span4 pull-left">
                
            </div>
            <div class="span4">
                 <select id="sort">
                     <option>Sort by</option>
                     <option>Distance</option>
                     <option>Price</option>
                 </select>

            </div>
            <div class="span4 pull-right">
                
<!--             <div id="tab" class="btn-group pull-right" data-toggle="buttons-radio">
                <a id="list-btn" href="#/list" class="btn active"><i class="icon-list"></i>List</a>
                <a id="map-btn" href="#/map" class="btn" ><i class="icon-map-marker"></i>Map</a>
                <a id="grid-btn" href="#/grid" class="btn" ><i class="icon-th"></i>Grid</a>
              </div> -->
                
             <buttons-radio class="btn-group" data-toggle="buttons-radio" model='UIView' options='UIViewOptions' classes="span2"></buttons-radio>                

            </div>                
        </div>

    <div class="row">

        <div id="main-pane" class="span9" >
        <br/>                            
        <br/>
        <div>
            <buttons-radio class="btn-group" data-toggle="buttons-radio" model='operatorView' options='operatorViewOptions' classes="span3"></buttons-radio>
            <br/>                    
            <br/>            

            <div id="accommodation-list-view" ng-show="operatorView=='Accommodation'">
                <div ng-show="UIView=='List'">
                      <p>Showing {[{ accommodation.length }]} listings </p>

                        <ul class="thumbnails">                

                            <li class="span3" ng-repeat="operator in accommodation">
                              <div class="thumbnail">
                                <div class="pull-right pull_top" style="padding: 5px;font-weight: bold">{[{ operator.distance | number:2 | distance }]}</div>
                                <img class="opimg" ng-src="{[{operator.image}]}"/>                    
                                <b>{[{operator.name}]}</b>                 
                                <div class="truncate">{[{operator.description | truncate:120 }]}</div>
                                <div class="star pull-right" score="{[{ operator.rating }]}" rating></div>
                                <br/>
                                <hr/>
                                <div style="padding: 5px">
                                    <div class="pull-left">1 NIGHT FROM</div>
                                    <div class="pull-right"><b>${[{ operator.min_rate }]}</b></div>
                                </div>
                                <br/>
                              </div>
                            </li>

                         </ul>        
                </div>
                <div ng-show="UIView=='Map'">
                    <p>Showing {[{ accommodation.length }]} listings </p>
                    <div google-map id="acc_map" class="Flexible-container" center="mapOptions.center" zoom="mapOptions.zoom" view="UIView" optype="operatorView" markers="accommodation"></div>
                </div>
              </div>        

            <div id="event-list-view" ng-show="operatorView=='Events'">
                <div ng-show="UIView=='List'">

                      <p>Showing {[{ events.length }]} listings </p>

                        <ul class="thumbnails">                

                            <li class="span3" ng-repeat="operator in events">
                              <div class="thumbnail">
                                <legend>Distance {[{ operator.distance | number:2}]}km</legend>
                                <img class="opimg" ng-src="{[{operator.image}]}"/>                    
                                <b>{[{operator.name}]}</b>                 
                                <div class="truncate">{[{operator.description | truncate:120 }]}</div>
                              </div>
                            </li>

                         </ul>        
                 </div>     
                <div ng-show="UIView=='Map'">
                    <p>Showing {[{ events.length }]} listings </p>
                    <div google-map id="event_map" class="Flexible-container" center="mapOptions.center" zoom="mapOptions.zoom" view="UIView" optype="operatorView" markers="events"></div>
                </div>                      

              </div> 

             <div id="sttraction-list-view" ng-show="operatorView=='Attractions'">
                <div ng-show="UIView=='List'">
                      <p>Showing {[{ attractions.length }]} listings </p>

                        <ul class="thumbnails">                

                            <li class="span3" ng-repeat="operator in attractions">
                              <div class="thumbnail">
                                <legend>Distance {[{ operator.distance | number:2}]}km</legend>
                                <img class="opimg" ng-src="{[{operator.image}]}"/>                    
                                <b>{[{operator.name}]}</b>                 
                                <div class="truncate">{[{operator.description | truncate:120 }]}</div>
                              </div>
                            </li>

                         </ul>        
                      
                </div>
                <div ng-show="UIView=='Map'">
                    <p>Showing {[{ attractions.length }]} listings </p>
                    <div google-map id="attr_map" class="Flexible-container" center="mapOptions.center" zoom="mapOptions.zoom" view="UIView" optype="operatorView" markers="attractions"></div>
                </div>                     
              </div>

            </div>                
        </div>
        
        <div class="span3">
        <br/>                    
        <br/>            
          <ul class="nav nav-list">
            <li class="nav-header">Accommodation Type</li>
            <li>
                <label class="checkbox">
                    <input type="checkbox" ng-model="filters.hotel" ng-change="update(this, 'accType')"> Hotel
                </label>                   
            </li>       
            <li>
                <label class="checkbox">
                    <input type="checkbox" ng-model="filters.motel" ng-change="update(this, 'accType')"> Motel
                </label>             
            </li>
            <li>
                <label class="checkbox">
                    <input type="checkbox" ng-model="filters.bnb" ng-change="update(this, 'accType')"> Bed & Breakfast
                </label>             
            </li>
            <li>
                <label class="checkbox">
                    <input type="checkbox" ng-model="filters.camp" ng-change="update(this, 'accType')"> Camp Site
                </label>             
            </li>
            <li>
                <label class="checkbox">
                    <input type="checkbox" ng-model="filters.hostel" ng-change="update(this, 'accType')"> Hostel
                </label>             
            </li>
            <li class="nav-header"><br/>Distance from</li>
            <li>
                <center>
                <input type="text" id="distance-slider-val" style="border: 0; color: #333; font-weight: bold; text-align: center" ng-model="filters.distance" ng-change="update(this, 'distance')"/><br/>
                <div distance-slider ng-model="filters.distance" id="distance-slider"></div>
                <br/>
                </center>            
                <label class="radio" ng-repeat="destination in destinations">
                    <input type="radio" ng-model="filters.destination" value="{[{ destination.id }]}" ng-change="update(this, 'destination')"> {[{ destination.name }]} <br/>
                </label>
                
            </li>
            <li class="nav-header"><br/>Filter by tags</li>
            <li>
                <select id="tags" name="tags" multiple="true" style="height:100px; width: 100%">
                    <option>One</option>
                    <option>Two</option>
                    <option>Three</option>
                </select>
            </li>
            <li class="nav-header"><br/>Price</li>
            <li style="text-align: center">
                <input type="text" id="price-slider-amt" style="border: 0; color: #333; font-weight: bold; text-align: center" ng-model="filters.price" ng-change="update()"/><br/>
                <div price-slider id="price-slider" ng-model="filters.price"></div>
            </li>        
            <li class="nav-header"><br/>Min. rating</li>
            <li><div class="star" data-score="4"></div></li>                    
            <li class="nav-header"><br/>Facilities</li>
            <li>
                <label class="checkbox">
                    <input type="checkbox"> Wifi
                </label>                   
            </li>       
            <li>
                <label class="checkbox">
                    <input type="checkbox"> Kitchen facilities
                </label>             
            </li>
            <li>
                <label class="checkbox">
                    <input type="checkbox"> Dryer
                </label>             
            </li>
            <li>
                <label class="checkbox">
                    <input type="checkbox"> Iron
                </label>             
            </li>
          </ul>
        </div>            
    </div>
   
</div>
        
        <script>
$(document).ready(function(){ 

$( "#price-slider" ).slider({
      range: true,
      min: 0,
      max: 500,
      step: 50,
      values: [ 120, 350 ],
      slide: function( event, ui ) {
        $( "#price-slider-amt" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      }
    });
    
    $( "#price-slider-amt" ).val( "$" + $( "#price-slider" ).slider( "values", 0 ) +
      " - $" + $( "#price-slider" ).slider( "values", 1 ) );
    
    
    $('.star').raty({
      path: '/bundles/applicationsonataadmin/img',        
      score: function() {
        return $(this).attr('data-score');
      }
    });
		
    angular.bootstrap(document, ['OperatorListApp']);
});        
            </script>
            
{% endblock %}
