{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'ApplicationSonataPageBundle::base_func_layout.html.twig' %}

{% block page_stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_javascripts %}
    {{ parent() }}
    {{ vichgeo_include_js() }}   
        <script src="{{ asset('bundles/tneoperator/angular/app/lib/angular/angular.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/tneoperator/angular/app/lib/angular/angular-resource.js') }}"></script>
        <script src="{{ asset('bundles/tneoperator/angular/app/js/app.js') }}"></script>
        <script src="{{ asset('bundles/tneoperator/angular/app/js/services.js') }}"></script>
        <script src="{{ asset('bundles/tneoperator/angular/app/js/controllers.js') }}"></script>
        <script src="{{ asset('bundles/tneoperator/angular/app/js/filters.js') }}"></script>
        <script src="{{ asset('bundles/tneoperator/angular/app/js/directives.js') }}"></script>
{% endblock %}    
    
{% block content %}

<div class="container" ng-app="OperatorListApp">
    <div class="row12">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">

              <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>

              <!-- Be sure to leave the brand out there if you want it shown -->
              <a class="brand" href="#">Operators </a>


              <!-- Everything you want hidden at 940px or less, place within here -->
              <div class="nav-collapse collapse">
                <!-- .nav, .navbar-search, .navbar-form, etc -->
              </div>

            </div>
          </div>
        </div>        
    </div>
        <div class="row">
            
            <div class="span4 pull-left">
            </div>
            <div class="span4">
                 <select id="sort">
                     <option>Sort by</option>
                     <option>Distance</option>
                     <option>Price</option>
                 </select>

            </div>
            <div class="span4 pull-right">
                
             <div id="tab" class="btn-group pull-right" data-toggle="buttons-radio">
                <a id="list-btn" href="#/list" class="btn active"><i class="icon-list"></i>List</a>
                <a id="map-btn" href="#/map" class="btn" ><i class="icon-map-marker"></i>Map</a>
                <a id="grid-btn" href="#/grid" class="btn" ><i class="icon-th"></i>Grid</a>
              </div>

            </div>                
        </div>        
    <div class="row">
        <br/>
        <br/>
        <div id="main-pane" class="span9" ng-view>

        </div>
        
        <div class="span3">
          <ul class="nav nav-list" ng-controller="FilterCtrl">
            <li class="nav-header">Accommodation Type</li>
            <li>
                <label class="checkbox">
                    <input type="checkbox" ng-model="type_hotel" ng-change="change()" id="typehotel"> Hotel
                </label>                   
            </li>       
            <li>
                <label class="checkbox">
                    <input type="checkbox" ng-model="type_motel" ng-change="change()" id="typemotel"> Motel
                </label>             
            </li>
            <li>
                <label class="checkbox">
                    <input type="checkbox" ng-model="type_bnb" ng-change="change()" id="typebnb"> Bed & Breakfast
                </label>             
            </li>
            <li>
                <label class="checkbox">
                    <input type="checkbox" ng-model="type_camp" ng-change="change()" id="typecamp"> Camp Site
                </label>             
            </li>
            <li>
                <label class="checkbox">
                    <input type="checkbox" ng-model="type_hostel" ng-change="change()" id="typehostel"> Hostel
                </label>             
            </li>
            <li class="nav-header"><br/>Distance from</li>
            <li>
                <center>
                <input type="text" id="distance-slider-val" style="border: 0; color: #333; font-weight: bold; text-align: center" ng-model="distance" ng-change="change()" /><br/>
                <div id="distance-slider"></div>
                <br/>
                </center>
                <label class="radio">
                    <input type="radio" ng-model="town" value="Falls Creek" ng-change="change()"> Falls Creek <br/>
                </label>                     
                <label class="radio">
                  <input type="radio" ng-model="town" value="Rutherglen" ng-change="change()"> Rutherglen <br/>
                </label>
                <label class="radio">
                    <input type="radio" ng-model="town" value="Beechworth" ng-change="change()"> Beechworth <br/>
               </label>
            </li>
<!--            <li class="nav-header"><br/>Filter by tags</li>
            <li>
                <select id="tags" name="tags" multiple="true" style="height:100px; width: 100%">
                    <option>One</option>
                    <option>Two</option>
                    <option>Three</option>
                </select>
            </li> -->
            <li class="nav-header"><br/>Price</li>
            <li style="text-align: center">
                <input type="text" id="price-slider-amt" style="border: 0; color: #333; font-weight: bold; text-align: center" ng-model="price" ng-change="change()" /><br/>
                <div id="price-slider"></div>
            </li>        
            <li class="nav-header"><br/>Min. rating</li>
            <li><div class="star" data-score="4"></div></li>                    
            <li class="nav-header"><br/>Facilities</li>
            <li>
                <label class="checkbox">
                    <input type="checkbox"> Wifi
                </label>                   
            </li>       
            <li>
                <label class="checkbox">
                    <input type="checkbox"> Kitchen facilities
                </label>             
            </li>
            <li>
                <label class="checkbox">
                    <input type="checkbox"> Dryer
                </label>             
            </li>
            <li>
                <label class="checkbox">
                    <input type="checkbox"> Iron
                </label>             
            </li>
          </ul>
        </div>            
    </div>
</div>
        
        <script>
$(document).ready(function(){
    $('#distance-slider').slider({
      range: false,
      min: 0,
      max: 500,
      step: 50,
      value: 50,
      slide: function( event, ui ) {
       var distance =  ui.value + "km";
       var scope = angular.element('#distance-slider-val').scope();
        scope.distance = distance;
        scope.change();
        $( "#distance-slider-val" ).val(distance);
      }
    });    

$( "#distance-slider-val" ).val($( "#distance-slider" ).slider( "value" ) + ' km' );

$( "#price-slider" ).slider({
      range: true,
      min: 0,
      max: 500,
      step: 50,
      values: [ 120, 350 ],
      slide: function( event, ui ) {
        var price = "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ];
        var scope = angular.element('#price-slider-amt').scope();
        scope.price = price;
        scope.change();          
        $( "#price-slider-amt" ).val(price);
        
      }
    });
    
    $( "#price-slider-amt" ).val( "$" + $( "#price-slider" ).slider( "values", 0 ) +
      " - $" + $( "#price-slider" ).slider( "values", 1 ) );
    
    
    $('.star').raty({
      path: '/bundles/applicationsonataadmin/img',        
      score: function() {
        return $(this).attr('data-score');
      }
    });
		
    angular.bootstrap(document, ['OperatorListApp']);
});        
            </script>
            
{% endblock %}
