<div class="common-block op-rooms hidden-phone">
    <h1>WE RECOMMEND</h1>
        {% for recommendation in recommendations %}
            {% if loop.index  is divisibleby(2)  %}
                <div class="recomment-rgt-area">
                    <div class="recommend-res-heading"> {{ recommendation.title }}</div>
                    <div>{{ recommendation.description }}</div>
                    <div class="addtocart-main">
                        <div class="star"><a href="#"><img src="{{ asset('bundles/tneoperator/img/star.png') }}"></a></div>
                        <div class="massage-addtocart"> <a class="btn btn-primary" href="#"><i class="icon-large icon-shopping-cart"></i>ADD TO CART</a> </div>
                    </div>
                </div>
             {% else %}
                <div class="recomment-lft-area">
                    <div class="recommend-res-heading"> {{ recommendation.title }}</div>
                    <div> {{ recommendation.description }}</div>
                    <div class="addtocart-main">
                        <div class="star"><a href="#"><img src="{{ asset('bundles/tneoperator/img/star.png') }}"></a></div>
                        <div class="massage-addtocart"> <a class="btn btn-primary" href="#"><i class="icon-large icon-shopping-cart"></i>ADD TO CART</a> </div>
                    </div>
                </div>
             {% endif %}
        {% endfor %}
    <div class="clear"></div>
</div>