{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'ApplicationSonataPageBundle::base_func_layout.html.twig' %}

{% block page_stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/tneoperator/angular/app/css/app.css') }}" type="text/css" media="all" />

<link rel="stylesheet" href="{{ asset('bundles/tneoperator/css/font-awesome.min.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/tneoperator/css/theme-falls-creek.css') }}" type="text/css" media="all" />

{% endblock %}

{% block page_javascripts %}
    {{ parent() }}
    {{ vichgeo_include_js() }}   
        <script src="{{ asset('bundles/tneoperator/angular/app/lib/angular/angular.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/tneoperator/angular/app/lib/angular/angular-resource.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/tneoperator/angular/app/js/map.js') }}"></script>
        <script src="{{ asset('bundles/tneoperator/angular/app/js/search.js') }}"></script>
        <script src="{{ asset('bundles/tneoperator/js/jquery.prettycheckable.js') }}"></script>
{% endblock %}    
    
{% block content %}

<div ng-app="SearchApp" ng-controller="SearchController">

{% include 'TNEOperatorBundle:Default:header.html.twig' %}

    <div id="main" class="container">
        <div class="row hidden-phone">
            <div class="span6">
                <tabs class="btn-group" data-toggle="buttons-radio" model='filters.OperatorView' options='OperatorViewOptions' classes=""></tabs>
            </div>
            <div class="span3">
                <!--<div class="pull-right">
                    Sort by <select id="sort">
                             <option value="">Relevance</option>
                             <option value="">Distance</option>
                             <option value="">Price</option>
                         </select>
                </div>   -->
            </div>
            <div class="span3 pull-right">
                <buttons-radio class="btn-group pull-right" data-toggle="buttons-radio" model='UIView' options='UIViewOptions' classes=""></buttons-radio>
            </div>
        </div>
        <div class="row hidden-phone">
            <div class="span12 divider"></div>
        </div>
        <div class="row" >
            <div id="main-pane" class="span9" >

                <div ng-show="UIView=='Map'">
                    <div results-map operators="operators" center="mapOptions.center" zoom="mapOptions.zoom" map="map" class="map-results"></div>
                </div>

                <div ng-show="UIView=='List'">
                    <results-list operators="operators"></results-list>
                </div>
            

            </div>

            <div id="side-pane" class="span3">
                {% include 'TNEOperatorBundle:Default:filters.html.twig' %}
            </div>
        </div>



    </div>

{% include 'TNEOperatorBundle:Default:footer.html.twig' %}

    <div id="design"></div>
</div>
        
<script>
    $(document).ready(function(){

        // Custom Checkbox
        $('input.tne').prettyCheckable();

        // Footer map
        var footerMapOptions = {
            zoom: 12,
            center: new google.maps.LatLng(-36.86424, 147.282715),
            disableDefaultUI: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var footerMap = new google.maps.Map(document.getElementById("footerMap"), footerMapOptions);

        angular.bootstrap(document, ['SearchApp']);
    });
</script>
            
{% endblock %}
