{% if tripadvisor is null %}
    <div class="trip-advisor">
        {{ "Tripadvisor details unavailable" }} 
    </div>
{% else %}

<div class="trip-advisor">
        <img src="img/trip-advisor-logo.jpg" alt="" />
        <p class="trip-review">{{ tripadvisor.num_reviews }} Reviews of {{ tripadvisor.name }}</p>
        <hr />
        <h2>{{ tripadvisor.name }}</h2>
        <h3>Trip Advisor Traveller Rating</h3>
        <img src="{{ tripadvisor.ratingImageUrl }} "/>
        <p class="trip-sub-review">{{ tripadvisor.num_reviews }} Reviews of {{ tripadvisor.name }}</p>
        <hr />
        <h3>Most Recent Traveller Reviews</h3>
        <ul>
            {% for reviews in tripadvisor.reviews %}
            {% if reviews.summary|length > 200 %}
                <li>{{ reviews.summary|slice(0, 200) }}{{ '...' }}<a href="{{ reviews.url }}">More</a></li>
            {% else %}
                <li>{{ reviews.summary }}<a href="{{ reviews.url }}">More</a></li>
            {% endif %}
            {% endfor %}
           <li><a href="#">Read reviews</a>  |  <a href="{{ tripadvisor.write_review }}">Write a Review</a></li>
        </ul>
        <p class="copywrite">2013 TripAdvisor LLC</p>

    </div>

{% endif %}