{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}

{% block block %}
    {% if settings.title %}
        <h3 class="sonata-media-block-media-title">{{ settings.title }}</h3>
    {% endif %}

   {% if sonata_page.isEditor or app.security and app.security.isGranted('ROLE_PREVIOUS_ADMIN') %}
    {% if app.environment == 'prod' %}
        <a href="/admin/sonata/media/gallery/list?uniqid=s51b41b760fd35&amp;code=sonata.media.admin.gallery&amp;pcode=sonata.page.admin.block&amp;puniqid=s51b41b76033d5" onclick="return start_field_dialog_form_list_s51b41b76033d5_settings_galleryId(this);" class="btn btn-inverse" blockid="{{ block.id }}" title="List" style="margin-left:10px"><i class="icon-list"></i>
                    select gallery
        </a>
     {% else %}
        <a href="/app_dev.php/admin/sonata/media/gallery/list?uniqid=s51b41b760fd35&amp;code=sonata.media.admin.gallery&amp;pcode=sonata.page.admin.block&amp;puniqid=s51b41b76033d5" onclick="return start_field_dialog_form_list_s51b41b76033d5_settings_galleryId(this);" class="btn btn-inverse" blockid="{{ block.id }}" title="List" style="margin-left:10px"><i class="icon-list"></i>
                    select gallery
        </a>
     {% endif %}
    <!--<a class="btn-primary btn" id="clickBtn" href="/app_dev.php/admin/sonata/media/media/list?uniqid=s51b41b760fd19&code=sonata.media.admin.media&pcode=sonata.page.admin.block&puniqid=s51b41b76033d8" data-toggle="modal" data-target="#myModal_{#{ block.id }#}">Edit</a> -->

    <div class="container sonata-ba-modal sonata-ba-modal-edit-one-to-one ui-dialog-content ui-widget-content" style="width: auto; min-height: 104px; height: auto; display: none; " id="field_dialog_s51b41b76033d5_settings_galleryId" scrolltop="0" scrollleft="0">
    </div>
    <!--<div class="modal fade" id="myModal_{#{ block.id }#}" style="width:80%;height:80%;overflow: scroll; left: 30%; display: none;"></div> -->
    {% endif %}
        
    <div class="sonata-media-block-gallery-container">
        <div id="sonata-media-block-gallery-{{ block.id }}" class="nivoGallery">
            <ul>
                {% for element in elements %}
                    <li data-type="{{ element.type }}" data-title="{{ element.title }}" data-caption="{{ element.caption }}">
                        {% if element.type == 'image' %}
                            {% media element.media, settings.format %}
                        {% elseif element.type == 'video' %}
                            {% media element.media, settings.format %}
                        {% endif %}
                    </li>
                {% else %}
                    {# no elements #}
                {% endfor %}
            </ul>
        </div>
    </div>

    {% if sonata_page.isEditor or app.security and app.security.isGranted('ROLE_PREVIOUS_ADMIN') %}

        <!-- <a class="btn-primary btn" id="clickBtn" href="/app_dev.php/admin/sonata/media/gallery/create?context=default" data-toggle="modal" data-target="#myModal_{{ block.id }}">select gallery</a>

        <div class="modal fade" id="myModal_{{ block.id }}" style="width:80%;height:80%;overflow: scroll; left: 30%; display: none;"></div> -->
        
    {% endif %}
    
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('#sonata-media-block-gallery-{{ block.id }}').nivoGallery({
                 pauseTime:     {{ settings.pauseTime }},
                 animSpeed:     {{ settings.animSpeed }},
                 effect:        'fade',
                 startPaused:   {% if settings.startPaused == 1 %}true{% else %}false{% endif %},
                 directionNav:  {% if settings.directionNav == 1 %}true{% else %}false{% endif %},
                 progressBar:   {% if settings.progressBar == 1 %}true{% else %}false{% endif %},
            });
        });
    </script>
{% endblock %}